<% include ../partials/fdHeader.ejs  %>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/fd/">Benefits for You</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fd/eligibility">Check your eligibility</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="/fd/documents">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fd/apply">How to Apply</a>
        </li>
      </ul>
</div>


    <div class="container py-3">
        <p> The opening of a Fixed Deposit requires you to submit certain documents depending on your eligibility. Please go through the list carefully as some documents differ as per the type of entity.</p>

        <h5> Documents required from individuals, Hindi Undivided Families and sole proprietorship firms, when applying for a Fixed Deposit:</h5>
        <ul style="list-style-type:disc">
          <li>A valid Passport or a Driving License</li>
          <li>An introduction by any other bank or an introduction by Thrifty's account holder for the last six months</li>
          <li>A photograph</li>
        </ul>
          <h5> Documents required from Trusts for a Fixed Deposit:</h5>
        <ul style="list-style-type:disc">
          <li>Copy of the Trust Deed</li>
          <li>Copy of the Registration Certificate</li>
          <li>Copy of the Resolution of Trustees authorising the members concerned to open and operate the account</li>
          <li>Photographs of the members operating the account</li>
        </ul>
          <h5>Documents required from Associations/Clubs when applying for a Fixed Deposit:</h5>
          <ul style="list-style-type:disc">
          <li>Bye-laws of the Association</li>
          <li>Copy of the Resolution by the board authorising the members concerned to open and operate the account</li>
          <li> Photograph of the members operating the account</li>
        </ul>
         <h5>Documents required from partnership firms when applying for a Fixed Deposit:</h5>
          <ul style="list-style-type:disc">
          <li>Partnership Deed</li>
          <li>Letter from partners approving the persons concerned to open and operate the account</li>
          <li> Photograph of the persons operating the account</li>
        </ul>
    </div>



