<% include ../partials/fdHeader.ejs  %>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/fd/">Benefits for You</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="/fd/eligibility">Check your eligibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fd/documents">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fd/apply">How to Apply</a>
        </li>
      </ul>
</div>



    <div class="container py-3">
        <h5>The opening of a Fixed Deposit with Thrifty's is restricted to certain individuals and entities. The documents will differ for individuals and type of entity depending on the eligibility for the same</h5>

        <h5 style="font-family:Times New Roman">Below are the individuals and entities eligible for a Regular Fixed Deposit:</h5>
        
        
        <ul>
          <li>Residents</li>
          <li>Hindu Undivided Families</li>
          <li>Sole Proprietorship Firms</li>
          <li>Partnership Firms</li>
          <li>Limited Companies</li>
          <li>Trust Accounts</li>
        </ul>
    </div>



