<% include ../partials/header.ejs  %>
    <marquee id = "landinginfo" behavior="scroll" direction="left">
        <a id = "scrollLink" href="https://drive.google.com/file/d/1U6w_1UPHKBNsmQHnbgNoTwvAyiqHNmbz/view?usp=drivesdk">Disclaimer/Advisory regarding false customer care numbers being displayed through Internet Search.</a>
        <span id = "scrollLink">No need to issue cheques while subscribing to IPO. Just write the bank account number and sign in the application form to authorise your bank to make payment in case of allotment. No worries for refund as the money stays in inverstor's account.</span>
        <a id = "scrollLink" href="/">KYC is a one time while dealing in securities markets - once KYC is done through THRIFTY registered intermediary (broker, DP, Mutual Fund, etc.), you need not undergo the same process again when you approach another intermediary.</a>
    </marquee>
    <div class="container py-2">
      <div class="card-deck">
        <div class="card" >
          <img src="https://cdn3.iconfinder.com/data/icons/unigrid-phantom-finance-vol-3/60/014_132_money_cash_flow_cycle_consumption_transfer_finance_business-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Money Transfer</h5>
            <p class="card-text">Transfer money to anyone with an existing account. You can also tranfer money to receivers with different bank accounts.</p>
            <a href="/login" class=" mt-auto btn btn-success">Transfer Money Now</a>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn2.iconfinder.com/data/icons/rcons-card-bank-color/512/cards-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Apply for Debit/Credit Card</h5>
            <p class="card-text">Thrifty International Cards offers you huge cashbacks on every transaction. Choose from a number of different credit/debit cards designed to suit your purpose.</p>
            <p class="card-text"><small class="text-muted">Sponsored by VISA</small></p>
            <a href="/apply" id = "btn-card" class="mt-auto btn btn-primary">View Credit/Debit Cards</a>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn2.iconfinder.com/data/icons/online-money-service-navy-volume-1/64/KYC_Know_Your_Customer-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">KYC Verification</h5>
            <p class="card-text">According to the latest government rules and regulations, your account has to be KYC Verified with your original documents. Thrifty provides a faster and better hassle free KYC Verification.</p>
            <a href="/apply" class="mt-auto btn btn-primary">KYC Verification Steps</a>
          </div>
      </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="card-deck">
        <div class="card">
          <img src="https://cdn4.iconfinder.com/data/icons/banking-and-finance-v4/64/online_banking_mobile_online-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Benefits of Online Banking</h5>
            <p class="card-text">Learn the benefits of online banking.</p>
            <a href="https://drive.google.com/open?id=1wRLUPYU29hYSl4PCrXu4c4v5u6VAvIHH" class="mt-auto btn btn-info">Read More</a>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn1.iconfinder.com/data/icons/personal-business-finance-set-1/256/Personal__Business_Finance-05-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Request Money</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="login" class="mt-auto btn btn-primary">Request Money</a>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn1.iconfinder.com/data/icons/education-set-01/512/finished-task-512.png" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Apply Now</h5>
            <p class="card-text">Apply now for an account in the world's most sincere and tech-friendly bank.</p>
            <a href="/apply" id = "btn-card" class="mt-auto btn btn-primary">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
 


    

<!-- <button class="button" onClick="window.open('https://drive.google.com/open?id=1sUHWH-khH1bdq1s6FSYWweL47dUe8Nk5', 'newwindow', 'width=800,height=600');">
     <span class="icon">Open</span>
</button> -->

      <!-- <a href="https://drive.google.com/open?id=1sUHWH-khH1bdq1s6FSYWweL47dUe8Nk5"  
      onclick="window.open('print.html', 
                           'newwindow', 
                           'width=800,height=600'); 
                return false;"
      >Print</a>
      window.open("https://www.w3schools.com");
      <a href="http://www.google.com" target="_blank">
        <input type="button" class="button" value="Open" />
        </a> --> 
<% include ../partials/footer.ejs  %>