<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title id = "title">Thrifty Bank</title>
</head>
<style>
    body{
      /* background-color: black; */
      background: rgb(16, 33, 65);
  
      padding-top: 105px;
  }
  
  .fixed-top-1 {
      /* margin-top: 60px; */
      z-index: 2;
  }
  .fixed-top-2 {
      /* margin-top: 60px; */
      margin-top: 67px;
      z-index: 1;
  }
  .fixed-top-3 {
      margin-top: 17px;
      z-index: 1;
  }
  
  #carouselExampleCaptions.carousel.slide {
      width: 800px; 
      /* height: 600px; */
  }
  
  #landinginfo{
      border: 2em;
      background-color: rgb(23, 68, 125);
      color: white;
  }
  
  #scrollLink{
      color: white;
      padding-right: 80px;
  }
  
  .navbar-brand{
      font-size: 35px;
  }
  

  
  
    #bj{
      background: rgb(16, 33, 65);
      color: white
  
  }
</style>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top-1" style="background-color: rgb(13, 33, 67);">
    <div class = "container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          Thrifty
        </a>
    </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) { %>
      <div class = "alert alert-danger" role = "alert">
        <%= error %>
      </div>
      <% } %>
    <% if(success && success.length > 0) { %>
      <div class = "alert alert-success" role = "alert">
        <%= success %>
      </div>
      <% } %>
  </div>

  <div id = "bj" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="text-center display-4">Admin Login</h1>
        <p class="text-center lead pb-2">Thrifty Administrator login page.</p>
        <form action="/admin" method="POST">
          <div class = "container">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Username: </label>
              <div class="col-md-6">
                <input type="text" name = "username" class="form-control" id="inputEmail3" placeholder="username">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password: </label>
              <div class="col-md-6">
                <input type="password" name = "password" class="form-control" id="inputPassword3" placeholder="password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>

 

