<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="stylesheets/main.css">
<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title id = "title">Thrifty Bank</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top-1" style="background-color: rgb(13, 33, 67);">
        <div class = "container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
              Thrifty
          </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                    <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top-2" style="background-color: rgb(13, 33, 67);">
        <div class = "container">
            <div>
              <p class = "navbar-text">Taking Banking Technology to common man. Your Tech-friendly Bank!</p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/apply">Apply Now</a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top-3" style="background-color: rgb(23, 68, 125);">
        <div class = "container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/landing">Home <span class="sr-only">(current)</span></a>
                </li>
                <% if(currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/moneyTransfer">Money Transfer</a>
                  </li>
                <% }else{ %>  
                <% } %>  
                <li class="nav-item">
                  <a class="nav-link" href="/fd">Fixed Deposit</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/hloan" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Loans
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/hloan">Home Loan</a>
                    <a class="dropdown-item" href="/edloan">Education Loan</a>
                  </div>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class = "alert alert-danger" role = "alert">
          <%= error %>
        </div>
        <% } %>
      <% if(success && success.length > 0) { %>
        <div class = "alert alert-success" role = "alert">
          <%= success %>
        </div>
        <% } %>
    </div>
    
<div class="container">
    <h1 class="text-center py-2">Apply Now</h1>
    <p>Thrifty Bank offers you products and services that give you a convenient banking experience. To benefit from it first-handedly you can apply for it now.</p>
    <form class = "pb-3" action="/apply" method="POST">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" name = "first_name" id="validationDefault01" placeholder="Nimit" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" name = "last_name" id="validationDefault02" placeholder="Mehta" required>
              </div>
              <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Phone Number</label>
                  <input type="number" class="form-control" name = "phone" id="validationDefault02" placeholder="10-digit phone number" required>
              </div>
              <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Email</label>
                  <input type="email" class="form-control" name = "email" id="validationDefault02" placeholder="nimit@gmail.com" required>
              </div>
              <div class="col-md-2 mb-3"> <!-- Date input -->
                <label class="control-label" for="date">Date of Birth</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
              </div>
              <div class="col-md-8 mb-3">
                <label for="validationDefault03">Address</label>
                <input type="text" class="form-control" name = "address" id="validationDefault03" placeholder="Address" required>
            </div>
            </div>
            <div class="form-row">
                
              <div class="col-md-2 mb-3">
                <label for="validationDefault03">City</label>
                <input type="text" class="form-control" name = "city" id="validationDefault03" placeholder="City" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">State</label>
                <input type="text" class="form-control" name = "state" id="validationDefault04" placeholder="State" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Postal Code</label>
                <input type="text" class="form-control" name = "pin_code" id="validationDefault05" placeholder="Pin Code" required>
              </div>
            </div>
            <div class = "form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Enter Aadhar Number</label>
                    <input type="number" class="form-control" name = "aadhar" id="validationDefault03" placeholder="12-digit aadhar number" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Enter PAN Number</label>
                    <input type="text" class="form-control" name = "pan" id="validationDefault03" placeholder="PAN Number" required>
                </div>
                <div class="col-md-6 mb-3">
                  <button class="btn btn-primary" onClick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSc6qe6UvGcSuQyklZXRJYRVYqkqnd534xB64JIWNatcrYjogg/viewform?usp=sf_link', 'newwindow', 'width=800,height=600');">
                    <span class="icon">Upload Documents</span>
                  </button>
              </div>
            </div>
            <div class = "form-row">
                  <div class="col-md-4 mb-3">
                    <label for="inputEmail3" >Username</label>
                      <input type="text" name = "username" class="form-control" id="inputEmail3" placeholder="username">
                      <p class="card-text"><small class="text-muted">Username will be used for future logins.</small></p>
                  </div>
                  <div class="pl-5 col-md-4 mb-3">
                    <label for="inputPassword3">Password</label>
                      <input type="password" name = "password" class="form-control" id="inputPassword3" placeholder="password">
                      <p class="card-text"><small class="text-muted">Privacy is our priority. Thrifty never stores your passwords.</small></p>
                  </div>
              </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
      </form>
</div>
<% include ../partials/footer.ejs  %>
